/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* Default settings (Immersion Theater - 6816 x 2240) */
/* (Works for any screens with ratios similar to 27:9) */
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
:root {
  --background-color: #000000;
  --text-color: #FFFFFF;
  --outermost-padding: 100px;
  --main-container-flex-flow: row-reverse nowrap;
  --heading-font-family: 'Titillium Web', sans-serif;
  --paragraph-font-family: 'Roboto', sans-serif;
  --center-position: center; // For centering in various properties

  /* .main-txt properties */
  --min-main-line-length: 1045px;
  --max-main-line-length: 1250px;
  --main-title-size: 180px;
  --main-researcher-name-size: 120px;
  --main-desc-size: 60px;
  --main-link-size: 48px;
  --main-text-padding: 100px;
  //--main-text-width: 20%;
  --logo-proportions: 10%;
  --max-logo-height: 189px;

  /* .matrix properties */
  --matrix-item-side-length: 75%; // Matrix items are squares/circles
  --matrix-item-spacing: 50px; // Horizontal and vertical
  --matrix-col-spacing: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; // 7 columns
  --matrix-row-spacing: 1fr 1fr 1fr; // 3 rows
  --matrix-width: 75%;
  --max-matrix-width: 6000px;

  /* .popup properties */
  --min-popup-line-length: 590px;
  --max-popup-line-length: 760px;
  --popup-title-size: 108px;
  --popup-story-size: 36px;
  --popup-link-size: 24px;
  --popup-bg-color: rgba(255, 255, 255, .25);
  --popup-border: 25px solid rgba(255, 255, 255, 100);
  --popup-border-radius: 25px;
  --popup-inner-padding: 100px;
  --popup-width: 65%;
  --popup-primary-img-width: 100%;
  --popup-secondary-img-width: 50%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  //padding: var(--outermost-padding);
  font-color: var(--text-color);
}

/* class to set properties of hidden elements*/
.visible {
  display: grid !important;
}

.main-container {
  padding: var(--outermost-padding);
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-flow: var(--main-container-flex-flow);
  justify-content: var(--center-position);
}

h1, h2, h3 {
  font-family: var(--heading-font-family);
  //line-height: 50%;
}

p {
  font-family: var(--paragraph-font-family);
}

a:visited {
  color: var(--text-color);
}


/********************/
/********** Main text area **********/
/********************/
.main-txt {
  width: var(--min-main-line-length);
  max-width: var(--max-main-line-length);
  padding: 0 0 0 var(--main-text-padding);

  border: 5px solid white; // Border for testing purposes - remove later
}

.main-title {
  font-size: var(--main-title-size);
  margin-top: 0px;
  margin-bottom: 0px;
}

.researcher-name {
  font-size: var(--main-researcher-name-size);
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-desc {
  font-size: var(--main-desc-size);
}

.main-url {
  font-size: var(--main-link-size);
}

#logo {
  height: var(--logo-proportions);
  //width: var(--logo-proportions);
  max-height: var(--max-logo-height);
  float: right;
}


/********************/
/********** Matrix **********/
/********************/
.matrix {
  width: var(--matrix-width);
  max-width: var(--max-matrix-width);
  display: grid;
  grid-template-columns: var(--matrix-col-spacing);
  grid-template-rows: var(--matrix-row-spacing);
  align-content: space-between;
  align-items: var(--center-position);
  column-gap: var(--matrix-item-spacing);
  row-gap: var(--matrix-item-spacing);
  // max-height: 1890px; // Set this equal to main-container's height

  border: 5px solid white; // Border for testing purposes - remove later
}

.matrix-item {
  width: var(--matrix-item-side-length);
  justify-self: var(--center-position);
}


/********************/
/********** Popup **********/
/********************/
.matrix-popup {
  z-index: 100;
  grid-template-columns: 50%;
  grid-template-areas: "img txt";
  position: absolute;
    left: 0%;
    top: 0%;
  border: var(--popup-border);
  background-color: var(--popup-bg-color);
  border-radius: var(--popup-border-radius);
  width: var(--popup-width);
  display: grid;
  // display: none; // Hide popup for now - work on matrix and main-txt first
}

.visible {
  display: grid;
  position: absolute;
  left: 0;
  top: 0;
}

.popup-img-area {
  padding: var(--popup-inner-padding);
  grid-area: img;
  place-self: var(--center-position);
}

#primary-popup-img {
  width: var(--popup-primary-img-width);
}

.secondary-img-slides {
  display: grid;
}

.secondary-img {
  width: var(--popup-secondary-img-width);
}

.popup-txt-area {
  padding: var(--popup-inner-padding);
  grid-area: txt;
  place-self: var(--center-position);
  min-width: var(--min-popup-line-length);
  max-width: var(--max-popup-line-length);
}

.project-title {
  margin: 0;
  font-size: var(--popup-title-size);
}

.project-story {
  font-size: var(--popup-story-size);
}

.project-url {
  font-size: var(--popup-link-size);
}





/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* Media queries - for all other screen sizes */
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/

/********************/
/********** For other large-scale displays (square/portrait) **********/
/********************/
// Still looking for ideal breakpoints!
// Should we include (min-height: 2100px) in the large-scale media queries?

// For a "square" or "nearly square" layout
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 8/5) and (min-height: 2100px) {
  :root {
    //--main-text-padding: 0;
    //--main-text-width: 50%;

    --matrix-col-spacing: 1fr 1fr 1fr;
    --matrix-row-spacing: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --matrix-width: 50%;
  }
}

// For a "portrait" layout
@media (max-aspect-ratio: 1/1) and (min-height: 2100px) {
  :root {
    --main-container-flex-flow: column nowrap;

    --main-text-padding: 0px;
    //--main-text-width: 100%;

    --matrix-col-spacing: 1fr 1fr 1fr;
    --matrix-row-spacing: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    --matrix-width: 100%;
    --max-matrix-width: 1250px;
  }
}

/********************/
/********** For large desktop **********/
/********************/

/********************/
/********** For desktop **********/
/********************/

/********************/
/********** For tablet **********/
/********************/


/********************/
/********** For larger mobile device/mini-tablet **********/
/********************/
@media (max-width: 800px) { // Check pointer size/type too?
  :root {

  }
}

/********************/
/********** For small mobile device **********/
/********************/
@media (max-width: 600px) { // Check pointer size/type too?
  :root {
    --text-color: #000000;
    --background-color: #FFFFFF;
  }
}
