/* Everything */
:root {
  --background-color: #333333;
  --color: #FFFFFF
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

@media (min-width: 600px) {
  :root {
    --color: #333333;
    --background-color: #FFFFFF;
  }
}

/* Main text area */

/* Matrix */

/* Popup */
.matrix-popup {
  border: 5px solid black;
}
