/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* Default settings (Immersion Theater - 6816 x 2240) */
/* (Works for any screens with ratios similar to 27:9) */
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
:root {
  --background-color: #000000;
  --text-color: #FFFFFF;
  --outermost-padding: 200px;
  --main-container-flex-flow: row-reverse nowrap;

  /* .main-txt properties */
  --main-title-size: 180px;
  --main-researcher-name-size: 120px;
  --main-desc-size: 72px;
  --main-link-size: 60px;
  --main-text-padding: 300px;
  --main-text-width: 25%;
  --main-text-height: 1000px;
  --logo-proportions: 10%;

  /* .matrix properties */
  --matrix-item-side-length: 15%; // Matrix items are squares/circles
  --matrix-item-spacing: 25px; // Horizontal and vertical
  //--matrix-outside-padding
  --matrix-num-columns: 7;
  --matrix-num-rows: 3;
  --matrix-width: 60%;

  /* .popup properties */
  //--popup-title-size
  //--popup-story-size
  //--popup-link-size
  --popup-bg-color: rgba(255, 255, 255, .25);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--outermost-padding);
  font-color: var(--text-color);
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: var(--main-container-flex-flow);
  justify-content: center;
}

h1, h2, h3 {
  font-family: 'Titillium Web', sans-serif;
  line-height: 50%;
}

p {
  font-family: 'Roboto', sans-serif;
}


/********************/
/********** Main text area **********/
/********************/
.main-txt {
  width: var(--main-text-width);
  padding: 0 0 0 var(--main-text-padding);

  border: 1px solid white; // Border for testing purposes - remove later
}

.main-title {
  font-size: var(--main-title-size);
}

.researcher-name {
  font-size: var(--main-researcher-name-size);
}

.main-desc {
  font-size: var(--main-desc-size);
}

.main-url {
  font-size: var(--main-link-size);
}

#logo {
  height: var(--logo-proportions);
  weight: var(--logo-proportions);
  float: right;
}


/********************/
/********** Matrix **********/
/********************/
.matrix {
  width: var(--matrix-width);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-content: space-between;

  border: 1px solid white; // Border for testing purposes - remove later
}

.matrix-item {
  width: var(--matrix-item-side-length);
}


/********************/
/********** Popup **********/
/********************/
.matrix-popup {
  border: 5px solid white;
  display: none; // Hide popup for now - work on matrix and main-txt first
}





/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* Media queries - for all other screen sizes */
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||*/

/********************/
/********** For large-scale displays **********/
/********************/
@media (max-aspect-ratio: 3/2) {
  :root {
    --main-container-flex-flow: column nowrap;
  }
}

/********************/
/********** For large desktop **********/
/********************/

/********************/
/********** For desktop **********/
/********************/

/********************/
/********** For tablet **********/
/********************/

/********************/
/********** For larger mobile device/mini-tablet **********/
/********************/

/********************/
/********** For small mobile device **********/
/********************/
@media (max-width: 600px) {
  :root {
    --text-color: #000000;
    --background-color: #FFFFFF;
  }
}
